[submodule "CFT_algorithms"]
	path = CFT_algorithms
	url = ../CFT_algorithms
[submodule "CFT_etl"]
	path = CFT_etl
	url = ../CFT_ETL
[submodule "cft_frontend"]
	path = cft_frontend
	url = ../CFT_frontend
[submodule "cft_main_app"]
	path = cft_main_app
	url = ../CFT_main_backend
